## Business Understanding

Analysis influencer tiktok

## Data Understanding
---


* Rank
* Tiktoker name
* Tiktok name
* followers
* views(avg)
* likes(avg.)
* comments(avg.)
* shares(avg.)

### Download dataset

In [2]:
# install kaggle package

!pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.9/dist-packages (1.5.13)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from kaggle) (4.65.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.9/dist-packages (from kaggle) (1.26.15)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.9/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.9/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.9/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from kaggle) (2.27.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.9/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->kaggle) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->kaggle) (2.0.12)

In [4]:
# create folder

!mkdir ~/.kaggle

In [5]:
!cp kaggle.json ~/.kaggle

In [6]:
!chmod 600 ~/.kaggle/kaggle.json

In [7]:
!kaggle datasets download -d ramjasmaurya/top-1000-social-media-channels

Downloading top-1000-social-media-channels.zip to /content
  0% 0.00/428k [00:00<?, ?B/s]
100% 428k/428k [00:00<00:00, 116MB/s]

In [42]:
!unzip /content/top-1000-social-media-channels.zip

Archive:  /content/top-1000-social-media-channels.zip
replace social media influencers - Tiktok sep 2022.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

## Data preparation

In [81]:
# import libraries

import pandas as pd
import seaborn as sns
sns.set_style('darkgrid')

In [82]:
# load data

df = pd.read_csv('/content/social media influencers-INSTAGRAM - -DEC 2022.csv')

In [83]:
# display head data

df.head()

,Rank,name,instagram name,Category_1,Category_2,followers,country,Eng. (Auth.),Eng. (Avg.)
0,1,leomessi,Leo Messi,Sports with a ball,Family,409.8M,Argentina,17.8M,23.4M
1,2,cristiano,Cristiano Ronaldo,Sports with a ball,NaN,523M,India,11.7M,14.7M
2,3,neymarjr,NJ üáßüá∑,Sports with a ball,NaN,198.9M,Brazil,6.7M,9.5M
3,4,kyliejenner,Kylie ü§ç,Fashion,Modeling,376.3M,United States,2.7M,4.3M
4,5,kendalljenner,Kendall,Modeling,Fashion,268M,United States,3.2M,5M

### Handling duplicates

In [84]:
# change columns name

df = df.rename(columns={'name': 'username',
                        'instagram name' : 'name',
                        'Category_1' : 'segment1',
                        'Category_2' : 'segment2',
                        'Eng. (Auth.)' : 'engagement_auth',
                        'Eng. (Avg.)': 'engagament_avg'})

In [85]:
# Check for duplicates

number_duplicates = df.duplicated(subset='username').sum()

# Print number of duplicates

print('Print number of duplicates rows: ', number_duplicates)

# Drop duplicates

df.drop_duplicates(subset='username', inplace=True)

# Print number rows after remove duplicates

print('Print number of duplicates rows after remove: ', len(df))

Print number of duplicates rows:  9
Print number of duplicates rows after remove:  991

### Data Type Convertion

In [86]:
# define function remove and convert

def remove_and_convert(value):
  if isinstance(value,str):
    if 'M' in value:
      value = float(value.replace('M','')) * 1000000
    elif 'K' in value:
      value = float(value.replace('K','')) * 1000
    else:
      value = float(value)
  return value

In [87]:
df.columns

Index(['Rank', 'username', 'name', 'segment1', 'segment2', 'followers',
       'country', 'engagement_auth', 'engagament_avg'],
      dtype='object')

In [88]:
# remove and convert

df['followers'] = df['followers'].apply(remove_and_convert)
df['engagement_auth'] = df['engagement_auth'].apply(remove_and_convert)
df['engagament_avg'] = df['engagament_avg'].apply(remove_and_convert)

In [89]:
# check data type

df.dtypes

Rank                 int64
username            object
name                object
segment1            object
segment2            object
followers          float64
country             object
engagement_auth    float64
engagament_avg     float64
dtype: object

### Fix Data Structure

In [90]:
cols = ['username', 'name', 'segment1', 'followers',
       'country', 'engagement_auth', 'engagament_avg']

df = df[cols]

In [91]:
# # add engagement_rate

# df['engagement_rate'] = ((df['views']+df['likes']+df['comments']+df['shares']) / df['followers']) * 100

In [92]:
df = df.sort_values(by='engagament_avg', ascending=False, ignore_index=True )

### Handling missing value

In [93]:
# check null

df.isnull().sum()

username            0
name               19
segment1           50
followers           0
country             1
engagement_auth     0
engagament_avg      0
dtype: int64

In [94]:
# drop null

df = df.dropna()

In [95]:
# check after drop

df.isnull().sum()

username           0
name               0
segment1           0
followers          0
country            0
engagement_auth    0
engagament_avg     0
dtype: int64

In [96]:
df.to_csv('influencerinsta22.csv', index=False)